/* Julia Zhu, CSC500 */

html {
  height: 100%;
  overflow: hidden;
}

/* formats the body, including the parallax scrolling */
body {
  color: #fff;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Verdana";
  background-color: rgb(21,47,96);
  z-index: 1;
}

/* formats the header for Safari and other browsers not listed below*/
header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

/* formats the header for Chrome */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
  	z-index: -1;
  }
}

/* formats the header for Mozilla Firefox */
@supports (-moz-appearance:none) {
  header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    z-index: -1;
  }
}

/* formats the header for Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    z-index: -1;
  }
}

/* parallax helper */
header h1 {
  margin-top: -100px;
}

/* parallax helper */
header, header:before {
  background: 50% 50% / cover;
}

/* parallax helper and sets up the large image when the website loads*/
header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(logo.png);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

/* overrides the automatic formatting for hyerlinks */
a {
  color: rgb(182, 233, 255);
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

/* formats most of the text and scrolling */
#content {
  color: #fff;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Verdana";
}

#body {
  background-color: rgb(21,47,96);
  /* padding: 30px; */
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
}

/* formats the photos and videos */
#team-photo {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

#app-icon {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

#pitch-video {
  text-align: center;
}

#demo-video {
  text-align: center;
}
